.rotate-vinyl {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;
    aspect-ratio: 1;
    min-width: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .rotate-vinyl {
        animation: vinyl-spin infinite 5s linear;
    }
}

.rotate-vinyl__image {
    background-size: contain;
    position: absolute;
    width: 50%;
    height: 50%;
}

.rotate-vinyl__vinyl {
    background-image: url(../../public/vinyl.png);
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes vinyl-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}